**/bin/
**/obj/
**/.vs/
**/.vscode/
**/.idea/
**/.git/
**/.gitignore
**/*.user
**/*.suo
**/*.log
**/logs/
**/TestResults/
**/*.trx
**/*.coverage
**/*.coveragexml
**/artifacts/
**/node_modules/
**/.env*
