**/bin/
**/obj/
**/.vs/
**/.vscode/
**/.idea/
**/.git/
**/data/
**/.gitignore
**/.dockerignore
**/Dockerfile*
**/*.user
**/*.suo
**/*.log
**/logs/
**/TestResults/
**/*.trx
**/*.coverage
**/*.coveragexml
**/coverage/
**/artifacts/
**/node_modules/
**/.env*
**/*.db
**/*.db-shm
**/*.db-wal
